:root {
  --color-brand-purple: #8a70ff;
  --color-brand-pink: #f472b6;
  --color-brand-orange: #fb923c;
  
  --bg-app: #f8fafc; 
  --bg-card: #ffffff;
  
  --text-main: #1e293b;
  --text-muted: #64748b;

  --radius-lg: 20px; 
  --shadow-soft: 0 10px 25px -5px rgba(0, 0, 0, 0.04);
}

body {
  background-color: var(--bg-app);
  color: var(--text-main);
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
}